:root {
  --window-height: 125px;
  --window-width: 100px;
  --window-vert-padding: 50px;
  --window-horiz-padding: 50px;
  font-family: 'Press Start 2P', cursive;
  color: white;
  font-size: 18px; 
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.h1{
  font-size: 1.6rem;
}

.h2{
  font-size: 1rem;
}

body{
  background-color:#E5E5E5 ;
  display:flex;
  height:100vh;
  width:100vw;
  min-height: 800px;
  min-width: 1200px;
}

#game{
  background-image:url("../assets/images/canvas.png");
  display:block;
  position: relative;
  border:3px solid #FCA311;
  align-items:center;
  justify-content:center;
  margin:auto;
  height: 800px;
  width: 1200px;
}

/* All ID/divs with Absolute position */
#score, #lifes, #level, #gameOver, #title, #howToPlay, #start, #howToBt,  #building, #sidewalk, #fireman, #basket, .fire, .npc, .window, .windowTemp,.basket, .npcBasket {
  position:absolute;
}

/* Menu / UI -------------------------------------------*/
/*  Margin right for some UI */
#level, #lifes, #score {
  right:20px;
  display: none;
}

#gameOver,#howToBt, #title, #start {
  text-align: center;
}

#lifes{
  top: 20px;
}
#score{
  top: 60px;
}

#level{
  top: 100px;
}

#howToPlay{
  display:none;
  top: 50px;
  right: 55px;
  width:475px;
  text-align: left;
  z-index: 800;  
}

#gameOver{
  display:none;
  top: 275px;
  right: 55px;
  width:475px;
}

#title{
  display:block;
  right: 55px;
  top: 275px;
  width:475px;
  }

#start, #howToBt, #music {
  border-bottom: 6px inset rgba(0,0,0,.5);
	border-left: 6px inset rgba(0,0,0,.5);
	border-right: 6px inset rgba(255,255,255,.5);
  border-top: 6px inset rgba(255,255,255,.5);
  outline:none;
}
#start:hover, #howToBt:hover {
  background: #BCBCBC;
}

#start, #howToBt {
  display:block;
  right: 200px;
  width:175px;
  height:75px;
  z-index: 900;
}

#start{  
  top: 500px;
}

#howToBt{
  top: 600px;
}

#music {
  background-color: green; 
  display:block;
  position:absolute;
  right: 0px;
  width:40px;
  height:40px;
  top:760px;
  z-index: 900;
}
#music-icon{
  display:absolute;
  
  width:18px;
  height:18px;
}

#howToPlay {
  font-size: 0.8rem;
  padding:3px;
  top: 130px;
  right: 25px;
  height:350px;
  width: 525px;
}
/* Fireman ---------------------------------------------*/
#fireman {
  width: calc(var(--window-width));
  height: calc(var(--window-height));
  z-index: 600;
}

.basket{
  width: calc(var(--window-width));
  height: calc(var(--window-height));
  z-index:850;
}

.npcBasket{
  display:none;
  z-index:900;
}
/*PowerUp ----------------------------------------------*/
#powerUp{
  position: absolute;
  display:block;
}

#heart{
 position: absolute;
display:none;
}

#clock{
  position: absolute;
  display:none;
}


/* Sidewalk --------------------------------------------*/
#sidewalk{
  background-image:url("../assets/images/sidewalk.png");
  top: 775px;
  height: 25px;
  width: 1200px;
}

/* Building -------------------------------------------*/
#building{
  background-image:url("../assets/images/building.png");
  top: 50px;
  height: calc(var(--window-height)*6);
  width: calc(var(--window-width)*6);
}

/* Windows */

.fire{
  display: none;
  z-index: 600;
}

.npc{
  display: none;
  z-index: 800;
}

.window {
  height: var(--window-height);
  width:  var(--window-width);
  z-index:300;
}
.windowTemp {
  z-index: 550;
}

/* Window Positions */
.row1 { top: var(--window-height); }
.row2 { top: calc(var(--window-height)*2 + var(--window-vert-padding)); }
.row3 { top: calc(var(--window-height)* 3 +  var(--window-vert-padding)*2); }
.row4 { top: calc(var(--window-height)* 4 +  var(--window-vert-padding)*3); }

.col1 { left: var(--window-width); }
.col2 { left: calc(var(--window-width)*2 + var(--window-horiz-padding));}
.col3 { left: calc(var(--window-width)*3 + var(--window-horiz-padding)*2);}
.col4 { left: calc(var(--window-width)*4 + var(--window-horiz-padding)*3);}
